{{ asset_add("styles.css", "redtally.field_type.signature::scss/input.scss") }}
{{ asset_add("scripts.js", "redtally.field_type.signature::js/signature_pad.min.js") }}
{{ asset_add("scripts.js", "redtally.field_type.signature::js/input.js") }}

<input
        name="{{ field_type.input_name }}"
        type="hidden"
        {{ field_type.disabled ? ' disabled' }}
        {{ field_type.readonly ? ' readonly' }}
        value="{{ field_type.value }}">
<canvas {{ html_attributes(field_type.attributes) }}
        class=""
        {{ field_type.disabled ? ' disabled' }}
        {{ field_type.readonly ? ' readonly' }}
        id="{{ field_type.input_name }}-signature"
        height="{{ field_type.config.canvas_height }}"
        width="{{ field_type.config.canvas_width }}"
        data-signaturepad-options="{{ json_encode(field_type.getPadOptions()) }}">
</canvas>
{% if not field_type.readonly and not field_type.disabled %}
<button id="{{ field_type.input_name }}-signature-clear">
    Clear
</button>
{% endif %}